---
import Input from '@/components/ui/Input.astro'
import Button from '@/components/ui/Button.astro'
import { GENERATE_COUNT_MIN, GENERATE_COUNT_MAX } from '@/lib/generate'
---

<section class='max-w-screen-sm mx-auto p-4'>
  <form hx-get='/partials/generate' hx-target='#generateResult' class='flex'>
    <div class='inline-flex items-center gap-2 mr-6'>
      <Input
        id='count'
        class='w-[90px]'
        name='count'
        type='number'
        min={GENERATE_COUNT_MIN}
        max={GENERATE_COUNT_MAX}
        placeholder='Count'
        _={`on change set val to my.value js(val) return Math.min(Math.max(${GENERATE_COUNT_MIN}, val), ${GENERATE_COUNT_MAX}) end then set my.value to it`}
      />
      <Button id='generateBtn' type='submit'>Generate</Button>
    </div>

    <div class='flex flex-1 justify-end'></div>
  </form>

  <div id='generateResult'></div>
</section>
