---
import { GENERATE_COUNT_MIN, GENERATE_COUNT_MAX } from '@/lib/uuid/generate'

import Input from '@/components/ui/Input.astro'
import Button from '@/components/ui/Button.astro'
import RadioGroup from '@/components/ui/radio/RadioGroup.astro'
import RadioGroupItem from '@/components/ui/radio/RadioGroupItem.astro'
---

<section class='max-w-screen-sm mx-auto p-4 mb-4'>
  <form hx-get='/partials/generate' hx-target='#generateResult' class='mb-4'>
    <div class='flex items-baseline gap-2'>
      <Input
        id='count'
        class='w-[90px]'
        name='count'
        type='number'
        min={GENERATE_COUNT_MIN}
        max={GENERATE_COUNT_MAX}
        placeholder='Count'
        _={`on change set val to my.value
            js(val) return Math.min(Math.max(${GENERATE_COUNT_MIN}, val), ${GENERATE_COUNT_MAX}) end
            then set my.value to it`}
      />
      <Button id='generateBtn' type='submit'>Generate</Button>
      <Button
        id='generateOptionsBtn'
        type='button'
        variant='ghost'
        aria-expanded="false"
        aria-controls="generateOptions"
        class='inline-flex items-center ml-auto'
        _='on click call toggleOptionsExpanded()'>
        <span>Options</span>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          class='-mr-1'
          aria-hidden='true'
          data-icon='ic:outline-arrow-drop-down'>
          <path fill='currentColor' d='m10 17l5-5l-5-5v10z'></path>
        </svg>
      </Button>
    </div>

    <div
      id='generateOptions'
      role='region'
      aria-labelledby='generateOptionsBtn'
      class='rounded-lg border bg-card shadow-sm p-6 mt-2 hidden'>
      <p class='text-sm font-medium leading-none text-muted-foreground mb-4'>Format</p>
      <RadioGroup>
        <RadioGroupItem id='uuidInput' name='type' value='uuid' checked>UUID v4</RadioGroupItem>
        <RadioGroupItem id='oracleInput' name='type' value='oracle'>Oracle RAW(16)</RadioGroupItem>
      </RadioGroup>
    </div>
  </form>

  <div id='generateResult'>
    <div class='bg-muted text-muted-foreground rounded-lg p-6'>
      <p class='max-w-[48ch] mx-auto text-center'>
        Generate UUIDs in bulk, expand the options menu to customize the output format
      </p>
    </div>
  </div>
</section>

<script type='text/hyperscript'>
  def toggleOptionsExpanded()
    if #generateOptionsBtn[@aria-expanded] is 'true' then
      set #generateOptionsBtn[@aria-expanded] to false

      remove .rotate-90 from <svg/> in #generateOptionsBtn
      add .hidden to #generateOptions
    else
      set #generateOptionsBtn[@aria-expanded] to true

      add .rotate-90 to <svg/> in #generateOptionsBtn
      remove .hidden from #generateOptions
    end
  end
</script>
