@tailwind components;

@layer components {
  a {
    @apply outline-none focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring;
  }
}

@layer components {
  .uuid-segment {
    @apply transition-colors;
  }

  .uuid-segments:has(.uuid-segment:focus-visible) .uuid-segment {
    @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring;
  }

  .uuid-segments:has(.time-low-segment:hover) .time-low-segment,
  .uuid-segments:has(.time-low-segment:focus-visible) .time-low-segment {
    @apply bg-lime-100 dark:bg-lime-600/60;
  }

  .uuid-segments:has(.time-mid-segment:hover) .time-mid-segment,
  .uuid-segments:has(.time-mid-segment:focus-visible) .time-mid-segment {
    @apply bg-emerald-100 dark:bg-emerald-600/60;
  }

  .uuid-segments:has(.time-hi-segment:hover) .time-hi-segment,
  .uuid-segments:has(.time-hi-segment:focus-visible) .time-hi-segment {
    @apply bg-cyan-100 dark:bg-cyan-600/60;
  }

  .uuid-segments:has(.clock-hi-segment:hover) .clock-hi-segment,
  .uuid-segments:has(.clock-hi-segment:focus-visible) .clock-hi-segment {
    @apply bg-violet-100 dark:bg-violet-600/60;
  }

  .uuid-segments:has(.clock-low-segment:hover) .clock-low-segment,
  .uuid-segments:has(.clock-low-segment:focus-visible) .clock-low-segment {
    @apply bg-fuchsia-100 dark:bg-fuchsia-600/60;
  }

  .uuid-segments:has(.node-segment:hover) .node-segment,
  .uuid-segments:has(.node-segment:focus-visible) .node-segment {
    @apply bg-rose-100 dark:bg-rose-600/60;
  }
}

@layer components {
  .scroll-linear-mask {
    --linear-gradient: linear-gradient(180deg, transparent, rgba(0, 0, 0, 1) 6%, rgba(0, 0, 0, 1) 94%, transparent);
    -webkit-mask-image: var(--linear-gradient);
    mask-image: var(--linear-gradient);
  }

  .scrollbar-slim::-webkit-scrollbar {
    width: theme(spacing.4);
  }
  .scrollbar-slim::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-slim::-webkit-scrollbar-thumb {
    border: theme(spacing.1) solid transparent;
    background: theme(colors.secondary.DEFAULT);
    background-clip: content-box;
    border-radius: theme(borderRadius.lg);
  }
}
