---
import Layout from '../layouts/Layout.astro'
import UuidDetails from '@/components/UuidDetails.astro'

import { Button } from '@/components/ui/button'
import { Input } from '@/components/ui/input'

const { uuid } = Astro.params
---

<Layout title='UUIDv4 Tools'>
  <header class='max-w-screen-md mx-auto px-4'></header>
  <main class='max-w-screen-md mx-auto px-4'>
    <form hx-post='/partials/parse' hx-target='#parsed-uuid' class='flex items-center gap-x-2 text-lg'>
      <Input placeholder='UUID v4, Oracle RAW(16) ID, etc.' defaultValue={uuid} name='uuid' type='text' />
      <Button type='submit'>Parse</Button>
    </form>
    <div id='parsed-uuid'>
      {uuid && <UuidDetails rawValue={uuid} />}
    </div>
  </main>
  <section class='max-w-screen-md mx-auto px-4'></section>
  <footer class='max-w-screen-md mx-auto px-4'></footer>
</Layout>
