---
import Layout from '../layouts/Layout.astro'

import Header from '@/components/Header.astro'
import Convert from '@/components/Convert.astro'

const { rawValue = '' } = Astro.params
---

<Layout title='UUID Tools by osalinasv.dev'>
  <Header />
  <Convert rawValue={rawValue} />

  <section class='container px-4'></section>
  <footer class='container px-4'></footer>
</Layout>
