---
import { generateIds } from '@/lib/uuid/generate'

import GeneratedId from '@/components/generator/GeneratedId.astro'

const parameters = Astro.url.searchParams
const generatedIds = generateIds(parameters)

const maxNonScrollItems = 8
const scrollMaxHeight = 3 * maxNonScrollItems + 0.5 * maxNonScrollItems

const events = { 'sv:generatedBatch': { count: generatedIds.length } }
Astro.response.headers.append('HX-Trigger', JSON.stringify(events))
---

<section class="scrollbar-slim mt-1 grid gap-2 overflow-y-auto py-1" style={`max-height: ${scrollMaxHeight}rem;`}>
  {
    generatedIds.map((id, idx) => (
      <GeneratedId genId={id} class="items-center">
        <span slot="prefix" class="select-none text-sm leading-none text-muted-foreground">
          {idx + 1}.
        </span>
      </GeneratedId>
    ))
  }
</section>
