---
import { generateIds } from '@/lib/uuid/generate'

import Button from '@/components/ui/Button.astro'
import GeneratedId from '@/components/generator/GeneratedId.astro'

const parameters = Astro.url.searchParams
const generatedIds = generateIds(parameters)

const maxNonScrollItems = 8
const scrollMaxHeight = 3 * maxNonScrollItems + 0.5 * maxNonScrollItems
---

{
  generatedIds.length > 1 && (
    <div class="mb-2 flex justify-end">
      <Button
        id="copyAllBtn"
        type="button"
        variant="secondary"
        class="gap-2 shadow-sm"
        _={`on click set buffer to ''
          for generated in <[data-generated-id]/>
            append generated[@data-generated-id] to buffer
            append '\\n' to buffer
          end

          js(buffer) navigator.clipboard.writeText(buffer) end`}>
        <span>Copy All</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 256 256" aria-hidden="true">
          <path
            fill="currentColor"
            d="M168 152a8 8 0 0 1-8 8H96a8 8 0 0 1 0-16h64a8 8 0 0 1 8 8Zm-8-40H96a8 8 0 0 0 0 16h64a8 8 0 0 0 0-16Zm56-64v168a16 16 0 0 1-16 16H56a16 16 0 0 1-16-16V48a16 16 0 0 1 16-16h36.26a47.92 47.92 0 0 1 71.48 0H200a16 16 0 0 1 16 16ZM96 64h64a32 32 0 0 0-64 0Zm104-16h-26.75A47.93 47.93 0 0 1 176 64v8a8 8 0 0 1-8 8H88a8 8 0 0 1-8-8v-8a47.93 47.93 0 0 1 2.75-16H56v168h144Z"
          />
        </svg>
      </Button>
    </div>
  )
}

<section class="scrollbar-slim grid gap-2 overflow-y-auto" style={`max-height: ${scrollMaxHeight}rem;`}>
  {
    generatedIds.map((id, idx) => (
      <GeneratedId genId={id} class="items-center">
        <span slot="prefix" class="select-none text-sm leading-none text-muted-foreground">
          {idx + 1}.
        </span>
      </GeneratedId>
    ))
  }
</section>
