---
import { generateIds } from '@/lib/uuid/generate'

const parameters = Astro.url.searchParams
const generatedIds = generateIds(parameters)
---

<section class='grid gap-2 pb-2 mt-4 max-h-[37rem] overflow-y-auto'>
  {
    generatedIds.map((gen) => (
      <div class='flex flex-nowrap items-center rounded-md border bg-card h-12 px-6 py-2 shadow' data-id={gen.id}>
        <p class='leading-none break-all'>{gen.formatted}</p>
      </div>
    ))
  }
</section>
