---
import { generateIds } from '@/lib/uuid/generate'

import Button from '@/components/ui/Button.astro'
import GeneratedId from '@/components/generator/GeneratedId.astro'

const parameters = Astro.url.searchParams
const generatedIds = generateIds(parameters)
---

<section class='mt-4'>
  <div
    class:list={['max-h-[37rem] overflow-y-auto scrollbar-slim', { 'scroll-linear-mask': generatedIds.length > 10 }]}>
    <div class='grid gap-2 pt-1 pb-2'>
      {generatedIds.map((id) => <GeneratedId genId={id} />)}
    </div>
  </div>

  {
    generatedIds.length > 1 && (
      <div class='flex flex-nowrap justify-center mt-2'>
        <Button type='button' variant='secondary' size='sm' class='shadow-sm'>
          Copy All
        </Button>
      </div>
    )
  }
</section>
