---
import { v4 as uuidv4 } from 'uuid'
import { sanitize } from '@/lib/input'

import Convert from '@/components/Convert.astro'

const request = await Astro.request.formData()

let rawValue = request.get('rawValue') as string
rawValue = sanitize(rawValue)

const rawIdValue = !rawValue ? uuidv4() : rawValue
Astro.response.headers.append('HX-Push-Url', `/${encodeURIComponent(rawIdValue)}`)
---

<head>
  <title>UUID Tools by osalinasv.dev | {rawIdValue}</title>
</head>

<Convert rawValue={rawIdValue} />
