---
import { v4 as uuidv4, parse as uuidParse } from 'uuid'

// const { uuid } = Astro.params
// const uuid = Astro.url.searchParams.get('uuid') || ''

const request = await Astro.request.formData()
const uuid = (request.get('uuid') as string) || uuidv4()

// 0eab1366-0ff6-45f6-963b-4d13efc863c8
// 6613AB0EF60FF645963B4D13EFC863C8
// 6613ab0ef60ff645963b4d13efc863c8

const bytes = uuidParse(uuid)

console.log(uuid)
console.log(bytes)

const hex = Array.from(bytes.values(), (b) => b.toString(16).padStart(2, '0'))
console.log(hex)

const oracle = []

oracle.push(hex.slice(0, 4).reverse())
oracle.push(hex.slice(4, 6).reverse())
oracle.push(hex.slice(6, 8).reverse())
oracle.push(hex.slice(8))
---

<div id='test' class='pt-4'>
  <p class='text-red-500'>From request: <strong>{uuid}</strong></p>

  <code class='mt-4'>
    <p>nodash: {uuid.replaceAll('-', '').toUpperCase()}</p>
    <p>bytes: {bytes.toString()}</p>
    <p>hex: {hex}</p>
    <p>oracle: {oracle}</p>
  </code>
</div>

<!-- F7514E9D A964 E440 854D667F0DD61093 -->
<!-- 9D4E51F7 64A9 40E4 854D667F0DD61093 -->
