---
export const prerender = true
---

<section id='about' class='max-w-screen-sm mx-auto px-4'>
  <article class='mb-12'>
    <h2 class='text-center text-2xl font-bold mb-4'>What is a UUID?</h2>
    <p class='mb-2'>
      A UUID or &#145;Universally Unique Identifier&#146; (also known as a GUID) is a 128-bit label used to identify
      resources. The UUID specification has 5 versions, each one has its own generation strategy with v4 being random or
      pseudo-random numbers.
    </p>
    <p class='mb-2'>
      The term GUID or &#145;Globally Unique Identifier&#146; is generally used when working with Microsoft
      technologies. UUID is commonly used elsewhere.
    </p>
    <p>
      Read the <a
        href='https://datatracker.ietf.org/doc/html/rfc4122'
        rel='noopener'
        target='_blank'
        class='underline underline-offset-4 text-blue-400 hover:text-blue-300 transition-colors'>UUID specification</a
      > for more info.
    </p>
  </article>
</section>
