---
import { convertId } from '@/lib/parse'
import type { RawId } from '@/lib/parse'

export type Props = {
  rawId: RawId
}

const { rawId } = Astro.props as Props
const convertedId = convertId(rawId)
---

<section class='rounded-xl border bg-card text-card-foreground shadow p-6'>
  <h1>{rawId.value}</h1>
  <code>
    {JSON.stringify(convertedId, null, 4)}
  </code>
</section>
