---
export const prerender = true
---

<header class='container flex h-14 items-center'>
  <a class='font-bold inline-block mr-6' href='/'> uuidv4</a>
  <nav class='flex flex-1 items-center justify-between space-x-2 md:justify-end'>
    <!-- TODO -->
  </nav>
</header>

<section class='max-w-screen-sm mx-auto grid justify-center gap-2 px-4 pt-14 pb-8'>
  <h1 class='text-center text-3xl font-bold leading-tight tracking-tighter md:text-5xl lg:leading-[1.1]'>UUID Tools</h1>
  <p class='max-w-screen-sm text-lg text-muted-foreground sm:text-xl'>
    Convert between common UUID v4 formats, generate new values and analyze their byte components.
    <a class='underline underline-offset-4 hover:text-accent-foreground transition-colors' href='#'>
      What is UUID v4?
    </a>
  </p>
</section>
