---
import { type HTMLAttributes } from 'astro/types'
import { cn } from '@/lib/utils'

export type Props = HTMLAttributes<'div'>
const { class: className, ...props } = Astro.props as Props

export const prerender = true
---

<div role='radiogroup' aria-required='false' dir='ltr' class={cn('grid gap-2 outline-none', className)} {...props}>
  <slot />
</div>
