<footer class="container mb-4 mt-8 p-4 text-center text-sm">
  <p>
    built by <a
      class="font-medium text-muted-foreground transition-colors hover:text-brand focus-visible:text-brand"
      href="https://osalinasv.dev/"
      rel="noopener"
      target="_blank"
    >
      osalinasv.dev
    </a>
  </p>

  <p>
    using
    <a
      class="text-muted-foreground transition-colors hover:text-accent-foreground focus-visible:text-accent-foreground"
      href="https://astro.build/"
      rel="noopener"
      target="_blank"
    >
      Astro
    </a> and <a
      class="text-muted-foreground transition-colors hover:text-accent-foreground focus-visible:text-accent-foreground"
      href="https://htmx.org/"
      rel="noopener"
      target="_blank"
    >
      HTMX
    </a>
  </p>
</footer>
