---
import Button from '@/components/ui/Button.astro'

export const prerender = true
---

<header class='container flex h-14 items-center gap-2'>
  <nav class='inline-block'>
    <a class='font-medium text-muted-foreground' href='https://osalinasv.dev/' rel='noopener' target='_blank'>
      osalinasv.dev/
    </a>
    <a class='font-bold' href='/'>uuid</a>
  </nav>
  <div class='flex flex-1 items-center justify-end'>
    <Button type='button' variant='ghost' size='icon' _='on click send cs:toggleTheme' aria-label='Toggle Theme'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='24'
        height='24'
        viewBox='0 0 256 256'
        class='hidden dark:inline-block'
        aria-hidden='true'
        data-icon='ph:moon-stars'>
        <path
          fill='currentColor'
          d='M240 96a8 8 0 0 1-8 8h-16v16a8 8 0 0 1-16 0v-16h-16a8 8 0 0 1 0-16h16V72a8 8 0 0 1 16 0v16h16a8 8 0 0 1 8 8Zm-96-40h8v8a8 8 0 0 0 16 0v-8h8a8 8 0 0 0 0-16h-8v-8a8 8 0 0 0-16 0v8h-8a8 8 0 0 0 0 16Zm72.77 97a8 8 0 0 1 1.43 8A96 96 0 1 1 95.07 37.8a8 8 0 0 1 10.6 9.06a88.07 88.07 0 0 0 103.47 103.47a8 8 0 0 1 7.63 2.67Zm-19.39 14.88c-1.79.09-3.59.14-5.38.14A104.11 104.11 0 0 1 88 64c0-1.79 0-3.59.14-5.38a80 80 0 1 0 109.24 109.24Z'
        ></path>
      </svg>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='24'
        height='24'
        viewBox='0 0 256 256'
        class='inline-block dark:hidden'
        aria-hidden='true'
        data-icon='ph:sun'>
        <path
          fill='currentColor'
          d='M120 40V16a8 8 0 0 1 16 0v24a8 8 0 0 1-16 0Zm72 88a64 64 0 1 1-64-64a64.07 64.07 0 0 1 64 64Zm-16 0a48 48 0 1 0-48 48a48.05 48.05 0 0 0 48-48ZM58.34 69.66a8 8 0 0 0 11.32-11.32l-16-16a8 8 0 0 0-11.32 11.32Zm0 116.68l-16 16a8 8 0 0 0 11.32 11.32l16-16a8 8 0 0 0-11.32-11.32ZM192 72a8 8 0 0 0 5.66-2.34l16-16a8 8 0 0 0-11.32-11.32l-16 16A8 8 0 0 0 192 72Zm5.66 114.34a8 8 0 0 0-11.32 11.32l16 16a8 8 0 0 0 11.32-11.32ZM48 128a8 8 0 0 0-8-8H16a8 8 0 0 0 0 16h24a8 8 0 0 0 8-8Zm80 80a8 8 0 0 0-8 8v24a8 8 0 0 0 16 0v-24a8 8 0 0 0-8-8Zm112-88h-24a8 8 0 0 0 0 16h24a8 8 0 0 0 0-16Z'
        ></path>
      </svg>
    </Button>
  </div>
</header>

<section class='max-w-screen-sm mx-auto p-4 mt-10 mb-4'>
  <h1 class='text-center text-3xl font-bold leading-tight mb-4 md:text-5xl'>UUID Tools</h1>
  <p class='max-w-screen-sm text-lg text-muted-foreground sm:text-xl'>
    Convert between common UUID formats, generate new values and analyze their byte components.
    <a class='underline underline-offset-4 hover:text-accent-foreground transition-colors' href='#about'>
      What is UUID?
    </a>
  </p>
</section>
