---
import Alert from '@/components/ui/Alert.astro'

export type Props = {
  error?: Error
  rawValue: string
}

const { error, rawValue } = Astro.props
---

<Alert class="mx-auto mt-2 max-w-screen-sm">
  <p>The value <span class="font-bold">{rawValue}</span> is not a valid UUID format</p>
  {error && <p class="mt-1">{error.message}</p>}
</Alert>
