---
import Alert from '@/components/ui/Alert.astro'
import Input from '@/components/ui/Input.astro'
import Button from '@/components/ui/Button.astro'
import ConvertResult from '@/components/converter/ConvertResult.astro'

export type Props = {
  rawValue: string | undefined
}

const { rawValue } = Astro.props
---

<main class='max-w-screen-sm mx-auto p-4 mb-4'>
  <form
    hx-get='/partials/convert'
    hx-target='#convertResult'
    hx-push-url='true'
    class='grid md:grid-cols-[1fr_auto] items-center gap-2'
    _='on sv:generated(id) call setIdInputValue(id)
       on htmx:responseError or htmx:timeout
       js return convertNetworkErrorTemplate.content.cloneNode(true) end
       put result into #convertResult'>
    <div class='relative'>
      <Input
        id='idInput'
        class='h-12 text-lg pr-6'
        placeholder='UUID, Oracle RAW(16) or empty to generate'
        value={rawValue}
        name='id'
        type='text'
        maxlength={37}
        spellcheck='false'
        autocomplete='off'
        _='on input call updateSubmitLabel(my.value)'
      />

      <div class='flex absolute top-0 bottom-0 right-0 place-items-center mr-2'>
        <button
          id='clearBtn'
          type='button'
          disabled={!rawValue}
          aria-label='Clear ID field'
          class='block rounded-full p-0.5 bg-primary text-primary-foreground transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:hidden'
          _='on click call setIdInputValue(null)'>
          <svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' aria-hidden='true'>
            <path fill='none' stroke='currentColor' stroke-width='2' d='M17 7L7 17M7 7l10 10'></path>
          </svg>
        </button>
      </div>
    </div>

    <Button id='submitBtn' class='h-12 text-lg min-w-[14ch]' type='submit' aria-live='polite'>
      {!rawValue ? 'New' : 'Convert'}
    </Button>
  </form>

  <div id='convertResult'>
    {!!rawValue && <ConvertResult rawValue={rawValue} />}
  </div>
</main>

<template id='convertNetworkErrorTemplate'>
  <Alert class='max-w-screen-sm mx-auto mt-2'>
    <p>Ran into an unexpected error, please try again</p>
  </Alert>
</template>

<script type='text/hyperscript'>
  def setIdInputValue(value)
    set #idInput.value to value
    call updateSubmitLabel(value)
  end

  def updateSubmitLabel(hasValue)
    if hasValue then
      set #submitBtn.innerText to 'Convert'
      set #clearBtn.disabled to false
    else
      set #submitBtn.innerText to 'New'
      set #clearBtn.disabled to true
    end
  end
</script>
