---
import { Input } from '@/components/ui/input'
import { Button } from '@/components/ui/button'

import ConvertResult from '@/components/converter/ConvertResult.astro'

export type Props = {
  rawValue: string | undefined
}

const { rawValue } = Astro.props
---

<main id='convert-form' class='max-w-screen-sm min-h-[22rem] mx-auto p-4'>
  <form
    hx-get='/partials/convert'
    hx-target='#convert-result'
    hx-push-url='true'
    class='grid md:grid-cols-[1fr_auto] items-center gap-2'
    _='on sv:generated(id) call setIdInputValue(id)'>
    <div class='relative'>
      <Input
        id='id'
        className='h-12 text-lg px-3'
        placeholder='UUID, Oracle RAW(16), Empty to generate UUIDv4'
        defaultValue={rawValue}
        name='id'
        type='text'
        maxLength={37}
        spellCheck='true'
        autoComplete='off'
        _='on input call updateSubmitLabel(my.value)'
      />

      <div class='absolute top-0 bottom-0 right-0 inline-flex place-items-center mr-2'>
        <button
          id='clearBtn'
          type='button'
          disabled={!rawValue}
          aria-label='Clear ID field'
          class='block rounded-full p-0.5 bg-primary text-primary-foreground transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:hidden'
          _='on click call setIdInputValue(null)'>
          <svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' aria-hidden='true'>
            <path fill='none' stroke='currentColor'stroke-width='2' d='M17 7L7 17M7 7l10 10'></path>
          </svg>
        </button>
      </div>
    </div>

    <Button id='submitBtn' className='h-12 text-lg rounded-md px-3 min-w-[14ch]' type='submit' aria-live='polite'>
      {!rawValue ? 'Generate' : 'Convert'}
    </Button>
  </form>

  <div id='convert-result'>
    {!!rawValue && <ConvertResult rawValue={rawValue} />}
  </div>
</main>

<!-- prettier-ignore-start -->
<script type='text/hyperscript'>
  def setIdInputValue(value)
    set #id.value to value
    call updateSubmitLabel(value)
  end

  def updateSubmitLabel(hasValue)
    if hasValue then
      set #submitBtn.innerText to 'Convert'
      set #clearBtn.disabled to false
    else
      set #submitBtn.innerText to 'Generate'
      set #clearBtn.disabled to true
    end
  end
</script>
<!-- prettier-ignore-end -->
