---
import { cn } from '@/lib/utils'

export type Props = {
  octets: string[] | number[]
  class?: string
  octet?: string
}

const { octets, class: classList, octet } = Astro.props
---

<span class:list={['uuid-segment', cn('rounded p-[2px]', classList)]} tabindex="0">
  {octets.map((o) => <span class={cn('px-[1px]', octet)}>{o}</span>)}
</span>
