---
import { cn } from '@/lib/utils'

export type Props = {
  octets: string[] | number[]
  class?: string
  octet?: string
}

const { octets, class: classList } = Astro.props
---

<p class:list={['uuid-segment inline-block', cn('rounded px-[1px]', classList)]} tabindex="0">
  {octets.map((o) => <span class="px-[2px]">{o}</span>)}
</p>
